/* css/style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    transition: transform 0.3s ease-in-out;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
}

.sidebar nav ul li a:hover {
    text-decoration: underline;
}

.main-content {
    margin-left: 220px;
    /* Width of the sidebar + some padding */
    padding: 20px;
    flex-grow: 1;
}

h1 {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    margin: 0 0 20px 0;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.portfolio-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.portfolio-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.portfolio-item:active {
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.portfolio-item a {
    text-decoration: none;
    color: inherit;
    display: block;
    text-align: center;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    display: block;
}

.portfolio-item h2 {
    margin: 10px 0;
    padding: 0 10px;
    font-size: 1.2em;
}

.error {
    color: red;
    background-color: #fdd;
    padding: 10px;
    margin: 20px;
    border: 1px solid red;
    text-align: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .sidebar.show {
        transform: translateY(0);
    }

    .main-content {
        margin-left: 0;
        width: 100%;
    }

    .toggle-button {
        display: block;
        background-color: #333;
        color: #fff;
        padding: 10px;
        text-align: center;
        cursor: pointer;
    }

    .toggle-button:hover {
        background-color: #555;
    }
}